<mat-drawer-container class="main-container">
  <mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches">
    <div class="logo">
      <img src="./assets/images/logo.png" title="" alt="logo"/>
    </div>
    
    <mat-list class="side-nav-controls">
      <mat-divider></mat-divider>
      <mat-list-item><a routerLink="/"><mat-icon fontSet="fa" fontIcon="fa-home"></mat-icon>
        DASHBOARD</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><a routerLink="/teachers"><mat-icon fontSet="fa" fontIcon="fa-users"></mat-icon>
       TEACHERS</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><a>Item 3</a></mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary" class="sticky-header">
      <mat-toolbar-row>
        <button mat-icon-button (click)="snav.toggle()"
          *ngIf="mobileQuery.matches"
        ><mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon></button>
        <h1>Custom Toolbar</h1>
        <span class="fill-remaining-space"></span>
        <button mat-button>Primary</button>
        <button mat-button>Primary</button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="view-container">
        <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>



