/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin: 0%;
}
.float-right {float: right;}
.blue-snackbar {
      background: #ff4081;
    color: #fff;
        font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.mat-close-icon {position: relative; cursor:pointer;}
.mat-dialog-content {
	max-height: 74vh;
}

mat-dialog-container {overflow-y: hidden!important;}
.mat-dialog-content {max-height: 75vh!important;}
/deep/ .mat-dialog-content {
    overflow-y: hidden !important;
}